@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@300&family=Source+Sans+Pro:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: white ! important;
    color: #03292a;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Robto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: normal;
    font-size: 16px;
    overflow: hidde;
}

h1, h2, h3, h4 {
    font-size: 'canda', Serif;
    color: #444;
    margin: 5px;
}

p{
    font-size: 15px;
}

a{
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color: #0000ff !important;
    cursor: pointer;
}

a:active {
    color: blue ! important;
}

a:visited {
    text-decoration: none; 
    color: #444;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.bt{
    padding: .5rem .1rem;
    text-align: center;
    background: #0000ff ;
    color: white;
    border-radius: .25rem;
    position: absolute;
    margin: 5px;
}

.btn:hover {
    color: white !important;
    background: #0b0b79;
}

.text-input {
    padding: .7rem 1rem;
    display: block;
    width:100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-family: 'lora', serif;
}

/* HEADER */
header {
    background: #f7f7f7;
    color: #ffff;
    height: 60px;
    border: 1px solid blue;;
}

.fas{
    color: #0000ff;
}

header * {
    position: relative;
    color: white;
}



/* FOOTER */
.footer {
    background: #303036;
    color: #f7f7f7;
    position: relative;
    width:100%;
    height: 100%;
    padding: 1px;
    margin: 1px;
}

.footer-content {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    height: 100%;
}

.footer-section {
    width: 30%;
    height: 280px;
    padding: 10px;
    margin: 20px;
    position: relative;
}

.footer-section p, a {
    color: #ccc;
}

.footer-section p, a:hover {
    color: #f7f7f7;
    margin-left: 4px;
    transition: all .3s;
}

.footer-fulllogo{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.footer-logo {
    width: 13%;
    height: 15%;
    margin-right: auto;
    margin-left: auto;
    color: #303036;
    background: #303036;
}

.footer-slogan{
    margin-top: 5px;
}

.footer-slogan p {
    color: #ccc;
    margin-top: 1px;
}

.footer-section .contacts{
    font-size: 18px;
}

.footer-content .about .contact{
    padding: 5px;
}

.footer img {
    width: 100%;
    border-radius: 5px;
}

.footer-section .contacts{
    margin-right: auto;
    margin-left: auto;
}

.footer-section .contacts P{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.footer-section .socials{
    width: 90%;
    margin: 2px auto 2px;
    padding: 1px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.socials a {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin: 1px 0 1px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    background: #6b6b7c;
    border: 1px solid #0000ff;
}

.socials img {
    width: 40px;
    height: 40px;
    padding: 1px;
    margin: 1px auto 1px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid grey;
}

.socials a:hover {
    background: #0000ff;
    color: #f7f7f7;
    margin-left: 0.9px;
    transition: all .2s;
}

.footer-content .links{
    font-size: bold;
    color: #f7f7f7;
    font-size: 18px;
    margin:10px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 19px;
}

.footer-content .links ul li{
    margin: 1px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

.footers-content .links ul a {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #f7f7f7;
}

.footer-content .links ul a:hover {
    color: #fff;
    margin-left: 1px;
    transition: all .3s;
}

.footer-section .text-input {
    background-color: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .4em 1.4rem;
    display: block;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.5rem;
}

.contact-btn {
    float: right;
    font-size: 1.3em;
    margin-top: -10px;
}

.footer-section .text-input:focus {
    background: #160909;
}

hr {
    display: block;
    color: grey;
    margin-top: 2.1em;
    margin-bottom: 2.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
}

.footer-bottom {
    background: #343a40;
    color: white;
    height: 50px;
    width: 100%;
    margin: 1% auto 3%;
    position: relative;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

.footer-bottom a{
    background: #343a40;
    color: white;
    height: 50px;
    width: 100%;
    margin: 1% auto 3%;
    position: relative;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
/* FOOTER */

   
/* MEDIA QIERIES */

@media only screen and (max-width: 767px) {

    /* FOOTER */
    .footer {
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }

    .footer-content {
        display: inline-block;
        width: 100%;
        margin: 1px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-section{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-fulllogo{
        width: 100%;
        padding: 5px;
        top: 0%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    .footer-fulllogo .footer-logo{
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    
    .footer .contacts{
        position: relative;
        top: 0;
        left: 28%;
    }
    
    .footer .socials{
        width: 100%;
        padding: 10px;
        top: 0%;
        margin: 1px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        text-align: center;
    }

    .socials a {
        width: 18%;
        height: 18%;
        border: none;
        border-radius: 50px;
    }

    .social img {
        width: 50%;
        height: 50%;
        padding: 2px;
        margin: 1px;
        overflow: hidden;
    }

    .socials img {
        width: 40px;
        height: 40px;
        padding: 1px;
        margin: 1px;
        overflow: hidden;
        border-radius: 25px;
        border: 1px solid #f7f7f7;
    }
    
    .socials a:hover {
        background: #0000ff;
        color: #f7f7f7;
        margin-left: 0.9px;
        transition: all .2s;
    }

    .socials a {
        width: 50px;
        height: 50px;
        padding: 3px;
        margin: 1px 0 1px;
        display: inline-block;
        text-align: center;
        border-radius: 50px;
        border: 1px solid #c8ff00;
    }

    .footer-slogan{
        position: relative;
        top: 0;
        left: -2%;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-section .contacts{
        top: 0;
        left: 0%;
        margin-right: auto;
        margin-left: auto;
    }
    

    .footer-content .links .head{
        font-size: 30px;
        text-align: center;
    }

    .footer-content .links{
        font-size: bold;
        color: #f7f7f7;
        font-size: 18px;
        margin:10px auto 10px;
        padding: 10px;
    }
    
    .footer-content .links ul{
        text-align: center;
        list-style: none;
        font-size: 16px;
    }

    .footer-content .links ul li {
        text-align: center;
        list-style: none;
    }

    .footer-section .additional{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-section .additional ul{
        text-align: center;
        margin: 10px;
        padding: 10px;
    }

    .footer-section .additional ul li{
        margin: 5px auto 5px;
        font-size: 20px;
    }


    .footer-section .contact{
        text-align: center;
    }

    .contact-btn {
        width: 100%
    }

    hr {
        display: block;
        margin-left: 1.1em;
        margin-right: 1.1em;
        margin-top: 1px;
        margin-bottom: 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 949px) {
    /* HEADER */
    header ul {
        position: relative;
    }
    
    header ul li {
        float: left;
        position: relative;
        font-size: 12px;
        margin: -7px;
        margin-top: auto;
        padding: 0;
    }
}

@media only screen and (min-width: 1042px) and (max-width: 1300px) {
    /* FOOTER */
    .footer .socials{
        width: 10%;
        display: flex;
        margin: 0;
        padding: 2px;
        text-align: center;
    }

    .footer .socials img{
        width: 44px;
    }

}